<%= stylesheet_link_tag "show" %>

<h1><%= @item.name %> | <%= @item.brand %></h1>

<div class="row">
  <div class="column">
    <%= image_tag @item.picture %>
  </div>
  <div class="column">
    <h3>Description</h3>
    <p style="font-size: 18px;"><%= @item.description %></p>
    <ul>
      <li>Amount in stock: <%= @stock %></li>
    </ul>
    <%= link_to 'Reviews', item_reviews_path(@item), class: 'btn btn-outline-secondary btn-lg'%>
    <% if @stock >= 1 %>
      <%= link_to 'Add To Cart', add_to_cart_path(@item.id), data: { "turbo-method": :post }, class: 'btn btn-outline-primary btn-lg' %>
    <% else %>
      <br></br>
      <div>We don't have enough stock for you to add this item to your cart right now.</div>
    <% end %>  
    <br>
      <% if current_user %>
        <% if @wishlists.empty? %>
          <p>No wishlists? Go make one!</p>
        <% else %>
          <%= form_tag add_to_wishlist_path, method: :post, remote: true do %>
          <%= label_tag :wishlist_id, "Add to Wishlist" %>
          <%= select_tag :wishlist_id, options_for_select(current_user.wishlists.collect { |w| [w.name, w.id] }), include_blank: true, class: 'form-select mb-2', style: 'width: 200px;'  %>
          <%= hidden_field_tag :item_id, @item.id %>
          <%= submit_tag "Add to Wishlist", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
      </div>
  </div>
</div>








