<%= stylesheet_link_tag "show" %>

<h1><%= @item.name %> | <%= @item.brand %></h1>


 
<div class="row">
  <div class="column">
    <%= image_tag @item.picture %>
  </div>
  <div class="column">
  <div class="columnT">
         <h1>Description</h1>
    <%= @item.description %>
    
  </div>
  </div>
  
  <h3>
      <%= link_to 'Reviews', item_reviews_path(@item),class: "a-primary"%> | <%= link_to 'Add to Cart', item_path,class: "a-primary"%>
  </h3>   
   
</div>






