<!-- Calvin Gott, the Billing show page, allows the User to update their billing information-->

<head>
    <title>User Billing</title>
  
  </head>
<h1> <%= @user.first_name%> Billing </h1>
<strong>Update Your Billing Here</strong> 
<%= bootstrap_form_with model: @user, url: user_path(@user), method: :patch, data: { turbo: false } do |f| %>
  <%= f.number_field :card_num%>
  <%= f.number_field :cvc %>
  <%= f.number_field :exp_month %>
  <%= f.number_field :exp_year%>
  <%= f.submit %>
<% end %>
<p>
    <%= link_to "Settings", edit_user_path %>
</p>
  

<p>
    <button onclick="window.location.href='http://localhost:3000/home';">
      Return Home
    </button>
</p>