<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="my-3">USER: <%= @user.username %> </h5>
            <hr>
            <p class="mb-0">Blurb</p>
            <br>
            <p class="text-muted mb-0"><%= @user.blurb %></p>
            <hr>
            <%if @is_me%>
              <div class="d-flex justify-content-center mb-2">
                <%= link_to "Edit Information", edit_user_path, class: 'btn btn-outline-primary me-1' %>
              </div>
              <div class="d-flex justify-content-center mb-2">
              <%= link_to "Change Credentials", edit_registration_path(@user), class: 'btn btn-outline-primary me-1' %>
              </div>
            <%end%>
          </div>
        </div>
        <%if @is_me%>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p class="mb-4"><span class="text-primary font-italic me-1">Order History</p>
              <% if current_user.payments.present? %>
                  <p class = 'text-center'><%= link_to "Payments", payments_path %></p>
              <% else %>
                <p class="text-center">No orders yet</p>
              <% end %> 
            </div>
          </div>
        <%end%>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <p class="mb-4"><span class="text-primary font-italic me-1">User Info</p>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%=@user.first_name%> <%= @user.last_name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.email %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.phone %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Location</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.city %>, <%= @user.country %></p>
              </div>
            </div>
            <br>            
          </div>
        </div>
          <div class="col-md-6">
            <%if @is_me%>
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">Wishlists</p>
                  <% if current_user.wishlists.present? %>
                    <ul class="list-group">
                      <% current_user.wishlists.each do |wishlist| %>
                        <li class="list-group-item"><%= link_to wishlist.name, user_wishlist_path(wishlist) %></li>
                      <% end %>
                    </ul>
                    <% else %>
                      <p>You don't have any wishlists yet. Start by creating one below.</p>
                    <% end %>
                  <br>
                  <p>
                    <%= link_to "New Wishlist", new_user_wishlist_path(@user), class: "btn btn-secondary"%>
                  </p>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  