<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
  <!-- Logo/Name -->
    <a class="navbar-brand" href="/">BOXER WORLD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Right Side -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/boxing_gloves">Boxing Gloves</a></li>
            <li><a class="dropdown-item" href="/punching_bags">Punching Bags</a></li>
            <li><a class="dropdown-item" href="/apparel">Apparel</a></li>
          </ul>
        </li>
      </ul>
      <%= form_tag search_path, html: { class: "d-flex" }, method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder: "Search...", class: 'form-control me-2' %>
      <% end %> 
    </div>
    <!-- Left Side -->
    <!-- Search -->
      
    <div>
    <!-- Cart --> 
    <div>
      <ul class="navbar-nav">
          <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
          </li>
          

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class='fas fa-user-circle' style='font-size:24px'></i>
           <!-- Calvin Gott, Dropdown menu, takes a user to user page, and then allows them to go to necessary pages for Editing-->
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href ="/user">Profile</a></li>
            </ul>

            <li class="nav-item">
              <%= button_to 'Sign Out', destroy_user_session_path,
                          method: :delete, data: { turbo: false }, class: 'nav-link btn btn-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign In', new_user_session_path,
                          class: "nav-link #{active_class(new_user_session_path)} btn btn-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path,
                          class: "nav-link #{active_class(new_user_registration_path)} btn btn-link" %>
            </li>
          <% end %>
        </ul>
      </div>    
    <div>
  </div>
  
</nav>
