<!-- Ken Schnarrs -->

<div class="d-flex justify-content-center align-items-center"> 
    <h1>Welcome to Boxer World</h1>
</div>

<div class="d-flex justify-content-center align-items-center"> 
    <p>We specialize in high quality products that suit you: the martial artist.</p>
</div>

<div class="center img"> 
    <!-- The centerpiece of the site! -->
    <%= image_tag("https://cdn.acidcow.com/pics/20190214/iron_mike_most_knockouts_08.gif", width: 600, height: 400) %>
</div>

<div class="d-flex justify-content-center align-items-center" style="margin-top: 80px;"> 
    <h1>Featured Items</h1>
</div>

<div class="d-flex justify-content-center align-items-center"> 
    <p>These are items that will help you master your craft.</p>
</div>

<div class="d-flex justify-content-center align-items-center" >
    <% for item in @items %>
        <div class="p-3">
            <%= link_to item_path(item) do %>
                <div class="card" style="width: 9rem; height: 16rem;">
                    <%= image_tag(item.picture, class: 'img-thumbnail', alt: item.name) %>
                    <div class="card-body d-flex justify-content-center align-items-center flex-column">
                        <%= link_to item.name, item_path(item), class: "card-title text-center" %>
                        <%= number_to_currency(item.price) %>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

