<!-- Ken Schnarrs -->
<h1>Check Out</h1>

<%= bootstrap_form_with model: @user, url: cart_checkout_post_path, method: :post, data: { turbo: false } do |f| %>
  <div class="row">
    <div class="col-sm">
        <h4>Personal Information</h4>
        <%= f.text_field :name%>
        <%= f.text_field :email %>
        <%= f.text_field :phone %>    
    </div>
    <div class="col-sm">
        <h4>Billing Information</h4>
        <%= f.number_field :card_num%>
        <%= f.number_field :cvc %>
        <%= f.number_field :exp_month %>
        <%= f.number_field :exp_year%>
    </div>
    <div class="col-sm">
        <h4>Shipping Information</h4>
        <%= f.text_field :address%>
    </div>
  </div>  

  <%= f.submit %>

<% end %>
